*{
    margin: 0;
    padding: 0;
    user-select: none;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}
.card{
    position: relative;
    height: 300px;
    width: 250px;
    perspective: 1500px;
    display: flex;
    flex-direction: column;

}
.front,.back{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    flex-direction: column;
    height: 150px;
    width: 180px;
    transform-style: preserve-3d;
    perspective: 1500px;
    background:white;
    backface-visibility: hidden;
}
.front{
    /* transform: translateZ(100px); */
}
.back{
    transform: rotateY(180deg) ;
    /* transform: translateZ(100px); */
}
#check{
    position: absolute;
    pointer-events: none;
}
.content{
    position: absolute;
    margin-top: 75px;
    margin-left: 10px;
    transform-style: preserve-3d;
    box-shadow: 0 0 30px black;
    z-index: 200;
    transition: 2s;
    height: 300px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0;
    margin-left: 0;
    border-radius: 10px;
}

#check:checked ~ .content{
    transform: rotateY(180deg);
}

